.page-content {
  min-height: 500px;
  background-image: linear-gradient(palevioletred, rgba(219, 126, 12, 0.945));
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.whole-list {
  padding-top: 1.2rem;
}

.article-list-item {
  border: solid 5px black;
  border-radius: 1.5%;
  padding: 0.5rem;
  background-color: rgb(137, 102, 168);
  position: relative;
  display: flex;
  margin:1rem;
}

.article-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.article-topic {
  font-size: 1.2rem;
  font-weight: bold;
}

.auth-username {
  font-size: 1.2rem;
  font-weight: bold;
}

.comment-username {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem;

}

.comment-list-item{
  padding: 0.5rem;
  
}

.comment-section{
  background-color: rgba(231, 195, 165, 0.719);
  border-radius: 1.5%;
}

.article-interaction-total {
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
}

.article-image {
  border-radius: 2%;
  width: 25%;
  max-width: 450px;
  height: auto;
}

.header {
  column-count: 2;
  margin: 1rem 0;
  margin-right: 22px;
}
.comment-heading{
  font-size: 1.5rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1.5rem;
}
.user-img {
  display: block;
  margin-left: auto;
  float: right;
  width: 12%;
  max-height: 150px;
  height: auto;
  padding: 0.5rem;
  padding-bottom: 6rem;
  border-radius: 2%;
}

.own-username {
  display: block;
  margin-left: auto;
  margin-right: 20px;
  float: right;
  width: 12%;
  height: auto;
  padding: 0.5rem;
  padding-bottom: 6rem;
  border-radius: 2%;
  font-size: 1.4rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
}

.single-article {
  background-color: rgb(231, 195, 165);
  padding: 1rem;
  display: flex;
  column-count: 2;
  border-radius: 1.5%;
}

.article-left-column {
  flex: 1;
  padding-right: 1rem;
}

.single-left-column {
  flex: 1;
  padding-right: 1rem;
}

.single-topic {
  font-size: 1.2rem;
  font-weight: bold;
}

.single-article-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.single-article-image {
  border-radius: 2%;
  width: 25%;
  height: auto;
}

.single-interaction-total {
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
}

.single-right-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  float: right;
}

.article-right-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  float: right;
}

.article-votes {
  font-size: 1.2rem;
  font-weight: bold;
}

.single-votes {
  font-size: 1.2rem;
  font-weight: bold;
}

.single-auth-username {
  float: right;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.single-article-body {
  margin-top: 1rem;
font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
}

