
.page-content {
    min-height: 500px;
    background-color: palevioletred;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

.article-title{
    font-size: 1.7rem;
    font-weight: bold;
}

.username{
    font-size: 1.3rem;
    float: inline-end;
    font-weight: bold;
}

.topic{
  font-size: 1.2rem;
  
}

.article-list-item{
    border: solid, 5px black;
    border-radius: 2%;
    padding: 0.5rem;
    background-color: rgb(137, 102, 168);
}

.article-image{
    border-radius: 2%;
    width: 20%;
    height: auto;
}
.header {
    
    column-count: 2;
  }
  .user-img{
    display: block;
    margin-left: auto;
   float: inline-end;
   width: 12%;
   height: auto;
   padding: 0.5rem;
   padding-bottom: 2rem;
   border-radius: 2%;
  }
  .whole-list{
    padding-top: 1.2rem;
    
  }
  .own-username{
    float: right;
    font-size: 1.4rem;
  }
  .logo{
    font-size: 2.5rem;
    font-weight: bolder;
  }